<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="search">
    <ion-title>検索</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="searchbar" ion-fixed>
    <form action="" (keydown.enter)="getEvents($event)">
        <ion-searchbar name="keywords" [(ngModel)]="keywords" placeholder="キーワード検索"></ion-searchbar>
    </form>
  </div>
  <ion-list class="event-list">
    <ng-container *ngFor="let event of events">
      <button ion-item (click)="openEvent(event)">
        <h2>{{event.title}}</h2>
        <h3>{{event.catch}}</h3>
        <h4>開催場所:</h4>
        <p>{{event.address}} {{event.place}}</p>
        <h4>イベント日時:</h4>
        <p>
          {{event.started_at | date: 'longDate'}}{{event.started_at | date: 'shortTime'}}
          〜
          {{event.ended_at | date: 'longDate'}}{{event.ended_at | date: 'shortTime'}}
        </p>
      </button>
    </ng-container>
  </ion-list>

</ion-content>
